[ALU_Verification_Report](https://drive.google.com/drive/folders/10Z-eVW1F1Koh-E5SWbAOj43p-lzQRi9z?usp=sharing)
